<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%-5level %d{yyyy-MM-dd HH:mm:ss.SSS}]}{ERROR = red bright light, WARN = yellow bright, DEBUG = cyan bright} [%t] %style{%c{1}}{bright,magenta} - %msg%n" disableAnsi="false"/>
        </Console>
        
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
        </Root>
        <Logger name="org.hibernate.engine" level="ERROR" />
        <Logger name="org.hibernate.loader" level="ERROR" />
        <Logger name="org.hibernate.SQL" level="ERROR" />
    </Loggers>
</Configuration>